@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap') ; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo, .encabezado, .bienvenida{
    text-align: center;
    background-color: grey;
    color: white;
    border: 2px solid grey ;
    border-radius: 5px;
}
.encabezado{
    font-family: "Dancing Script", cursive;
    font-size: auto;
}
.bienvenida{
    font-family: "Merriweather", serif;
    font-size: auto;
}

.navbar{
    align-content: center;
}
.nav-link{
    color:white;
}
.active{
    color:grey;
}
.galeria{
    display: grid;
    font-size: auto;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 180px);
    grid-template-areas: 
    "texto1 img3"
    "texto2 img1"
    "texto3 img2"

    /* "img1 texto1 img2"
    "texto2 img3 texto3"; */
}
.item{
    border: 2px solid black ;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-color: grey;

}

.item1{
    grid-area: img1;
    height: 250px;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/nike/nike\ lunar\ 2.jpg);
}
.item2{
    grid-area: texto1;
    background-color:grey;
    color: white;
}
    

.item3{
    grid-area: img2;
    height: 250px;
    background-image: url(./img/joma/adidas/adidas.jpg);
}

.jumbo{
    text-align: center;
}
footer{
    background-color: grey ;
}
.parrafoFooter, .iconos{
    align-content: center;
    color: aliceblue;
}
.suscribe, .newslewtter{
    align-content: center;
    color: aliceblue;
}
.botonF, .textoF{
    background-color: grey;
}
.makeCuerpo{
    background-color:#F9CB9C;
    text-align: center;
}
.mas{
    color:black;
    
}
.siguiente {
    text-align: center;
}

.nike{
    border: 2px solid black ;
    border-radius: 5px;
    background-color: beige;
}
.joma{
    border: 2px solid black ;
    border-radius: 5px;
    background-color: beige;
    display: flex;
}

.accesorios{
    border: 2px solid black ;
    border-radius: 5px;
    background-color: beige;
    display: flex;
}
.adidas{
    border: 2px solid black ;
    border-radius: 5px;
    background-color: beige;
    display: flex;
}
